<section>
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 mt-3"
        *ngFor="let course of coursesArray; let i = index"
      >
        <div class="card mt-5" *ngIf="i < 8">
          <img src="{{ course.image }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h4 class="card-title mb-3">
              <a
                (click)="onShowCourse(i, course.title)"
                style="cursor: pointer"
                >{{ course.title }}</a
              >
            </h4>
            <div class="card-info">
              <p>
                <i class="fa fa-calendar"></i> Date:
                {{ course.date | date: "fullDate" }}.
              </p>
              <p><i class="fa fa-clock-o"></i> Time: {{ course.time }}.</p>
              <p>
                <i class="fa fa-hourglass-o"></i> Duration:
                {{ course.duration }}.
              </p>
              <p><i class="fa fa-user"></i> Persons: {{ course.people }}.</p>
              <p>
                <i class="fa fa-map-marker"></i> Location:
                {{ course.location }}.
              </p>
            </div>
            <p class="card-text">
              {{ course.information | wordCut: 50 }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
