@import "../../../styles/helpers/variables";

.card {
  background-image: linear-gradient(to top right, $color-active, $color-blue);
  color: $color-white;

  i.fa {
    color: $color-altOrange;
  }
}

h4 {
  color: $color-white;
}

.info-text {
  color: $color-altOrange;
  transition: all 0.5s;

  &:hover {
    color: $color-white;
  }
}

.card-img-top {
  max-height: 302px;
}
