// .card {
//   border: 2px solid $color-blue;
// }
@import "../../../styles/styles.scss";

.card {
  //border: 2px solid $color-active;
  //background-color: $color-active;
  background-image: linear-gradient(to top right, $color-active, $color-blue);
  color: $color-white;

  i.fa {
    color: $color-altOrange;
  }
}

h4 {
  color: $color-altOrange;
  // transition: all 0.5s;

  // &:hover {
  //   color: $color-white;
  // }
}

.info-text {
  color: $color-altOrange;
  transition: all 0.5s;

  &:hover {
    color: $color-white;
  }
}

// @keyframes highLighter {
//   from {
//     color: $color-blue;
//   }
//   to {
//     color: $color-active;
//   }
// }
