// .card {
//   border: 2px solid $color-blue;
// }
@import "../../../styles/styles.scss";

.card {
  border: 2px solid $color-blue;
  background-color: $color-paleBlue;
}

h4 {
  color: $color-altOrange;
  transition: all 0.5s;

  &:hover {
    color: $color-active;
  }
}

// @keyframes highLighter {
//   from {
//     color: $color-blue;
//   }
//   to {
//     color: $color-active;
//   }
// }
