<section class="pt-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8">
        <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <label for="course">Course</label>
            <input
              type="text"
              id="course"
              class="form-control"
              formControlName="course"
              [readonly]="true"
            />
          </div>
          <div class="form-group mb-3">
            <label for="location">Location</label>
            <input
              type="text"
              id="location"
              class="form-control"
              formControlName="location"
              [readonly]="true"
            />
          </div>
          <div class="form-group mb-3">
            <label for="people">Date</label>
            <input
              type="string"
              id="date"
              class="form-control"
              formControlName="date"
              [readonly]="true"
            />
            <div
              class="form-text small"
              *ngIf="
                !bookingForm.get('date').valid &&
                bookingForm.get('date').touched
              "
            >
              Please enter a valid quantity.
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="cost">Cost</label>
            <input
              type="text"
              id="cost"
              class="form-control"
              formControlName="cost"
              [readonly]="true"
            />
          </div>
          <div formGroupName="userData">
            <div class="form-group mb-3">
              <label for="name">Name</label>
              <input
                type="text"
                id="name"
                class="form-control"
                formControlName="name"
                #name
              />
              <div
                class="form-text small"
                *ngIf="
                  !bookingForm.get('userData.name').valid &&
                  bookingForm.get('userData.name').touched
                "
              >
                Please enter a valid name.
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                class="form-control"
                formControlName="email"
              />
              <div
                class="form-text small"
                *ngIf="
                  !bookingForm.get('userData.email').valid &&
                  bookingForm.get('userData.email').touched
                "
              >
                Please enter a valid email.
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="phone">Phone</label>
              <input
                type="text"
                id="phone"
                class="form-control"
                formControlName="phone"
              />
              <div
                class="form-text small"
                *ngIf="
                  !bookingForm.get('userData.phone').valid &&
                  bookingForm.get('userData.phone').touched
                "
              >
                Please enter a valid phone number.
              </div>
            </div>
          </div>
          <div class="button-container">
            <button
              class="btn btn-blue"
              type="submit"
              [disabled]="!bookingForm.valid"
            >
              Book Course
            </button>
          </div>
        </form>
        <hr />
        <p *ngIf="formSubmitted; else submitMessage">
          Thank You {{ name.value | titlecase }} for booking
          {{ courseBookingInfo.title }} we look forward to meeting you.
        </p>
        <ng-template #submitMessage>
          <p>Please fill in all form inputs to submit booking form</p>
        </ng-template>
      </div>
      <div class="col-md-4 testimonial-column">
        <h3 class="mb-4">First Aider Customer Testimonials</h3>
        <p class="mb-0">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <footer class="blockquote-footer mb-4">
          Sean Burke
          <cite title="Source Title">Care Assistant</cite>
        </footer>
        <div *ngFor="let quote of testimonialArray">
          <p class="mb-0">
            {{ quote.statement | reduceText }}
          </p>
          <footer class="blockquote-footer mb-4">
            {{ quote.person }}
            <cite title="Source Title">{{ quote.position }}</cite>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
