@import "../../../styles/styles.scss";

label,
input {
  font-size: 1.6rem;
}

.small {
  color: $color-crimson;
  font-size: 1.2rem;
}

input.ng-invalid.ng-touched {
  border-left: 1px solid $color-crimson;
  border-bottom: 1px solid $color-crimson;
}

@media only screen and (max-width: 600px) {
  .button-container {
    text-align: center;
  }
}
