<section>
  <div class="container py-5">
    <div class="row">
      <div class="col heading">
        <h2>Upcoming First Aid Courses</h2>
      </div>
    </div>
    <div class="row courses">
      <div
        class="col-lg-4 mt-4"
        *ngFor="let course of courseList; let i = index"
      >
        <div class="card" *ngIf="i < 3">
          <img
            src="{{ course.image }}"
            class="card-img-top"
            alt="{{ course.title }}"
          />
          <div class="card-body">
            <h5 class="card-title mx-2">{{ course.title }}</h5>
            <p class="card-text">
              {{ course.information | wordCut }}
            </p>
            <p class="card-text">
              <i class="fa fa-calendar"></i> Date:
              {{ course.date | date: "fullDate" }}.
            </p>
            <p class="card-text">
              <i class="fa fa-clock-o"></i> Time: {{ course.time }}.
            </p>
            <p class="card-text">
              <i class="fa fa-map-marker"></i> Location: {{ course.location }}.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-blue my-5" (click)="onToCourses()">
          First Aid Courses
        </button>
      </div>
    </div>
  </div>
</section>
