@import "../../../styles/styles.scss";

.col.heading {
  display: flex;
  justify-content: center;

  h2 {
    color: $color-blue;
    padding: 20px;
  }
}

.card {
  width: 100%;
  margin: 0 auto;
  border-radius: none;
  //border: none;
  border: 2px solid $color-blue;
  background-color: $color-paleBlue;

  &-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }

  &-text {
    margin: 8px;
  }
}
