<section class="products">
  <div class="container shop">
    <div class="row">
      <div class="col">
        <p>
          <a (click)="onCheckOut()" style="cursor: pointer"
            ><i class="fa fa-shopping-cart fa-2x"></i
          ></a>

          <span *ngIf="cartArray.length > 0"> x {{ cartArray.length }}</span>
        </p>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-3 col-md-4 mt-4"
        *ngFor="let product of productArray; let i = index"
      >
        <div class="card" *ngIf="i < 12">
          <img
            src="{{ product.image }}"
            class="card-img-top img-fluid"
            alt="{{ product.title }}"
          />
          <div class="card-body">
            <h5 class="card-title mx-2">{{ product.title }}</h5>
            <p class="card-text">
              {{ product.description | wordCut }}
            </p>
            <p class="card-text">
              {{ product.cost }}
            </p>
            <p class="cart-text">
              &#10149;<a (click)="onAddToCart(i)" style="cursor: pointer"
                >Add To Cart</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col text-center">
        <button class="btn btn-blue my-5" (click)="onToShop()">
          More First Aid Products
        </button>
      </div>
    </div> -->
  </div>
</section>
