<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card mt-3">
          <img src="{{ displayCourse.image }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h4 class="card-title">
              {{ displayCourse.title }}
            </h4>
            <div class="card-info">
              <p>
                <i class="fa fa-calendar"></i> Date:
                {{ displayCourse.date | date: "fullDate" }}.
              </p>
              <p>
                <i class="fa fa-clock-o"></i> Time: {{ displayCourse.time }}.
              </p>
              <p>
                <i class="fa fa-hourglass-o"></i> Duration:
                {{ displayCourse.duration }}.
              </p>
              <p>
                <i class="fa fa-user"></i> Persons: {{ displayCourse.people }}.
              </p>
              <p>
                <i class="fa fa-map-marker"></i> Location:
                {{ displayCourse.location }}.
              </p>
              <p>
                <i class="fa fa-credit-card"></i> Price:
                {{ displayCourse.price }}.
              </p>
            </div>
            <p class="card-text">
              {{ displayCourse.information | wordCut: 70 }}
            </p>
            <p class="card-text">
              {{ displayCourse.information }}
            </p>
            <div class="text-center">
              <button class="btn my-5" type="button" (click)="onNavigate()">
                &#10149; Book Course
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
