@import "../../../styles/styles.scss";

.card {
  //border: 2px solid $color-blue;
  //background-color: $color-paleBlue;
  background-image: linear-gradient(to top right, $color-active, $color-blue);
  color: $color-white;
}

i.fa {
  color: $color-altOrange;
}

.card-title {
  margin-bottom: 1.75rem;
}

.btn {
  width: 60%;
  font-size: 2rem;
  color: $color-altOrange;
  font-weight: 600;
  background-color: transparent;
}

.btn:hover {
  color: $color-white;
}
