@import "../../../styles/styles.scss";

form {
  margin: 0 auto;
  padding: 20px 20px;
  border-radius: 5px;
  margin: 40px 20px;
  box-shadow: 10px 10px 20px $color-blue;

  & label {
    color: $color-blue;
    padding-left: 15px;
  }

  & input,
  & textarea {
    border: transparent;
    border-left: 1px solid $color-blue;
    border-bottom: 1px solid $color-blue;
  }
}

.btn {
  background-color: $color-blue;
  color: $color-white;
  border-radius: 20px;
}

.contact-box {
  display: flex;
  justify-content: center;
  align-items: center;

  .info-box {
    margin: 0 auto;
    width: 80%;
    border-radius: 5px;
    box-shadow: 10px 10px 20px $color-blue;

    & p .fa {
      color: $color-crimson;
    }
  }
}
