@import "../../../styles/helpers/variables";

section {
  background-color: $color-paleBlue;
  color: $color-active;
}

.testimonial {
  height: 50rem;
}

.testimonial-box {
  //border: 2px solid $color-blue;
  padding: 10rem;
  color: $color-white;

  background-image: linear-gradient(to right, $color-blue, $color-active);

  & footer {
    color: $color-white;
  }
}

.blockquote-footer {
  font-size: 1.3rem;
}

@media only screen and (max-width: 768px) {
  .testimonial-box {
    padding: 5rem;
  }
}

.testimonial-static-text {
  color: $color-active;
}

@media only screen and (max-width: 768px) {
  .testimonial-static-text {
    padding: 0 auto;
  }
}

//CAROUSEL LEFT TO RIGHT//
@media all and (transform-3d), (-webkit-transform-3d) {
  .active.carousel-item-left,
  .carousel-item-prev:not(.carousel-item-right) {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .active.carousel-item-right,
  .carousel-item-next:not(.carousel-item-left) {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
