@import "../../../styles/helpers/variables";

section {
  background-color: $color-paleBlue;
  color: $color-active;
}

.testimonial {
  height: 50rem;
}

.testimonial-box {
  //border: 2px solid $color-blue;
  padding: 10rem;
  color: $color-white;

  background-image: linear-gradient(to right, $color-active, $color-blue);

  & footer {
    color: $color-white;
  }
}

.blockquote-footer {
  font-size: 1.3rem;
}

@media only screen and (max-width: 768px) {
  .testimonial-box {
    padding: 5rem;
  }
}

.testimonial-static-text {
  color: $color-active;
}

@media only screen and (max-width: 768px) {
  .testimonial-static-text {
    padding: 0 auto;
  }
}
