<section>
  <div class="container testimonial py-5">
    <div class="row">
      <div class="col-md-6">
        <h3 class="mb-4">First Aider Customer Testimonials</h3>
        <p class="mb-0">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <footer class="blockquote-footer mb-4">
          Sean Burke
          <cite title="Source Title">Care Assistant</cite>
        </footer>
        <div *ngFor="let quote of testimonialArray">
          <p class="mb-0">
            {{ quote.statement | reduceText }}
          </p>
          <footer class="blockquote-footer mb-4">
            {{ quote.person }}
            <cite title="Source Title">{{ quote.position }}</cite>
          </footer>
        </div>
      </div>
      <div class="col-md-6 d-none d-md-block">
        <div
          id="carouselExampleSlidesOnly"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active testimonial-box">
              <div class="testimonial-text">
                <h3>Lorem, ipsum. active</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolores consectetur quod optio exercitationem, nostrum quas
                  adipisci esse, quia deleniti atque necessitatibus mollitia
                  delectus? Nihil, iste.
                </p>
                <p class="mb-0">Lorem, ipsum.</p>
                <footer class="blockquote-footer">
                  Someone famous in
                  <cite title="Source Title">Source Title</cite>
                </footer>
              </div>
            </div>
            <div
              class="carousel-item testimonial-box"
              *ngFor="let testimonial of testimonialArray"
            >
              <h3>{{ testimonial.title }}</h3>
              <p>
                {{ testimonial.statement }}
              </p>
              <p>{{ testimonial.person }}</p>
              <footer class="blockquote-footer">
                {{ testimonial.position }}
                <cite title="Source Title">{{ testimonial.company }}</cite>
              </footer>
            </div>
            <!---TEMPORARY FIX FOR CAROUSEL JUMPING-->
            <div class="carousel-item"></div>
            <!---TEMPORARY FIX FOR CAROUSEL JUMPING-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
