<section>
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-lg-7">
        <form
          [formGroup]="checkOutForm"
          (ngSubmit)="onCheckOut()"
          autocomplete="off"
        >
          <div class="mb-3">
            <input
              type="text"
              id="name"
              class="form-control"
              placeholder="Full Name"
              formControlName="name"
              #name
            />
            <div
              class="form-text small"
              *ngIf="
                !checkOutForm.get('name').valid &&
                checkOutForm.get('name').touched
              "
            >
              Please enter a valid name.
            </div>
            <label for="name" class="form-label">Full Name</label>
          </div>
          <div class="mb-3">
            <input
              type="email"
              id="email"
              class="form-control"
              placeholder="E-mail"
              formControlName="email"
            />
            <div
              class="form-text small"
              *ngIf="
                !checkOutForm.get('email').valid &&
                checkOutForm.get('email').touched
              "
            >
              Please enter a valid email.
            </div>
            <label for="email" class="form-label">E-mail</label>
          </div>
          <div class="mb-3">
            <input
              type="text"
              id="phone"
              class="form-control"
              placeholder="Phone Number"
              formControlName="phone"
            />
            <div
              class="form-text small"
              *ngIf="
                !checkOutForm.get('phone').valid &&
                checkOutForm.get('phone').touched
              "
            >
              Please enter a phone number.
            </div>
            <label for="phone" class="form-label">Phone Number</label>
          </div>
          <div class="mb-3">
            <input
              type="text"
              id="addressOne"
              class="form-control"
              placeholder="Address Line 1"
              formControlName="addressOne"
            />
            <div
              class="form-text small"
              *ngIf="
                !checkOutForm.get('addressOne').valid &&
                checkOutForm.get('addressOne').touched
              "
            >
              Please enter a address.
            </div>
            <label for="addressOne" class="form-label">Address Line 1</label>
          </div>
          <div class="mb-3">
            <input
              type="text"
              id="addressTwo"
              class="form-control"
              placeholder="Address Line 2"
              formControlName="addressTwo"
            />
            <div
              class="form-text small"
              *ngIf="
                !checkOutForm.get('addressTwo').valid &&
                checkOutForm.get('addressTwo').touched
              "
            >
              Please enter a address.
            </div>
            <label for="addressTwo" class="form-label">Address Line 2</label>
          </div>
          <div class="mb-3">
            <input
              type="text"
              id="area-code"
              class="form-control"
              placeholder="Area Code"
              formControlName="areaCode"
            />
            <label for="area-code" class="form-label">Area Code</label>
          </div>
          <div class="button-container">
            <button
              class="btn btn-blue"
              type="submit"
              [disabled]="!checkOutForm.valid || checkoutCart.length === 0"
            >
              Place Order
            </button>
          </div>
          <hr />
          <p *ngIf="orderPlaced; else instruction">
            Thank You {{ name.value | titlecase }} for your order
          </p>
          <ng-template #instruction>
            <p>You must have items in the cart to place an order</p>
          </ng-template>
        </form>
      </div>
      <div class="col-lg-5">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Line</th>
              <th scope="col">Item</th>
              <th scope="col">Cost</th>
            </tr>
          </thead>
          <tbody *ngFor="let product of checkoutCart; let i = index">
            <tr>
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ product.title }}</td>
              <td>€ {{ product.cost }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="checkoutCart.length > 0">
            <tr>
              <th>Total</th>
              <td></td>
              <td>€ {{ orderTotal }}</td>
            </tr>
          </tbody>
        </table>
        <hr />
      </div>
    </div>
  </div>
</section>
