@import "../../../styles/helpers/variables";
@import "../../../styles/components/buttons";

.table {
  font-size: 1.5rem;
}

form {
  padding: 0rem 2rem;

  label {
    color: $color-active;
    padding-left: 0.9rem;
    font-size: 1.3rem;
    transition: all 0.3s;
  }

  input {
    border: transparent;
    border-left: 1px solid $color-blue;
    border-bottom: 1px solid $color-blue;
    background-color: $color-paleBlue;
    border-radius: 0;
    font-size: 1.5rem;
  }
}

input:placeholder-shown ~ label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

span {
  font-size: 1.6rem;
}

.small {
  color: $color-crimson;
  font-size: 1.2rem;
}

input.ng-invalid.ng-touched {
  border-left: 1px solid $color-crimson;
  border-bottom: 1px solid $color-crimson;
}
