<section class="questions">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-md-4 my-auto">
        <div>
          <img
            src="../../../assets/images/contact-us.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-md-8">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="btn btn-blue"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                FAQ Question #1
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
                  corporis provident voluptates quia, laborum quisquam quaerat
                  soluta iure explicabo iste inventore, ducimus nisi ipsum sed
                  accusamus quam atque magnam aspernatur doloribus fuga neque
                  tempore, fugiat quo! Iusto necessitatibus et eligendi amet
                  magni doloribus tempora odit architecto, totam obcaecati eius
                  magnam itaque dolor repudiandae, officia tenetur!
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="btn btn-blue collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                FAQ Question #2
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Reiciendis beatae velit, temporibus officiis sunt adipisci
                  quas, ullam inventore quae architecto doloribus animi dicta
                  dolorem iure magnam aliquam placeat dolorum, eius est ipsum
                  nulla natus illum sed corrupti. Nulla culpa enim similique
                  eveniet vel maxime reiciendis suscipit voluptate ad id
                  obcaecati harum aliquid veritatis doloremque, beatae, nobis
                  eaque vero ea quaerat!
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="btn btn-blue collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                FAQ Question #3
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Doloribus veniam quis porro, magni alias minus. Nisi, nostrum?
                  Pariatur, dicta quas. Ab magnam optio quo consectetur, aperiam
                  aspernatur error mollitia, excepturi sed expedita officia.
                  Ipsam voluptas explicabo itaque officia doloribus nemo rem!
                  Perferendis inventore recusandae sit doloribus, praesentium
                  temporibus suscipit officiis?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
