<section>
  <div class="container shop">
    <div class="row py-5">
      <div class="col-md-6">
        <h2 class="pb-4">A Leading Distributor of First Aid Supplies</h2>
        <p class="firstShopParagraph">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
          nam quo accusamus natus provident reprehenderit itaque, ea alias quia
          voluptatem.
        </p>
        <p class="secondShopParagraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam atque,
          dolores rerum tenetur quod temporibus molestiae necessitatibus?
          Ducimus neque tempora ex repellendus, nobis accusantium atque! Ea illo
          vitae aliquid laborum culpa esse quam iure nostrum exercitationem,
          dolorum natus nihil quisquam.
        </p>
        <div class="button-container">
          <button class="btn btn-blue my-5" (click)="onToShop()">
            More First Aid Products
          </button>
        </div>
      </div>
      <div class="col-md-6 my-auto">
        <div>
          <img
            src="assets/images/first-aid-kit3.png"
            class="img-fluid"
            alt="a open first aid kit"
          />
        </div>
      </div>
    </div>
  </div>
</section>
