@import "../../../styles/styles.scss";

section {
  background-image: linear-gradient(to bottom left, $color-blue, $color-active);
}

.shop {
  color: $color-white;
}

@media only screen and (max-width: 768px) {
  .firstShopParagraph {
    display: none;
  }
}
