@import "../../../styles/helpers/variables";
@import "../../../styles/components/buttons";

section {
  background-image: linear-gradient(to bottom left, $color-blue, $color-active);
}

.shop {
  color: $color-white;
}

@media only screen and (max-width: 768px) {
  .button-container {
    text-align: center;
  }
  .row {
    flex-flow: column-reverse;
  }
  .firstShopParagraph {
    display: none;
  }
}
