@import "../../../styles/helpers/variables";

.footer {
  //position: fixed;
  padding-top: 10rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to top, $color-blue, $color-paleBlue);
  color: $color-active;

  h5 {
    text-align: center;
  }
}

.nav-link {
  color: $color-active;
  padding: 0;
  font-size: 1.6rem;

  &:hover {
    text-decoration: underline;
  }
}

.copyright p {
  border-top: 1px solid $color-white;
}

@media only screen and (max-width: 600px) {
  .col-md-4 {
    text-align: center;
    padding: 0 1rem;
  }
}
