<footer class="footer">
  <div class="container">
    <div class="row pt-4">
      <div class="col-md-4 px-4 text-center">
        <h5>Contact Us</h5>

        <p><i class="fa fa-location-arrow"></i> 123 Fake St. Dublin</p>
        <p><i class="fa fa-phone"></i> +353 01-15412</p>
        <p><i class="fa fa fa-envelope"></i> info@moreInfo.com</p>
      </div>
      <div class="col-md-4 text-center">
        <img src="assets/images/logo-white.png" alt="" class="py-4" />
      </div>
      <div class="col-md-4">
        <h5>Company</h5>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active"
              >About Us</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/courses" routerLinkActive="active"
              >Courses</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active"
              >Contact Us</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/faqs" routerLinkActive="active"
              >FAQ</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/shop" routerLinkActive="active"
              >Shop</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="row copyright">
      <div class="col-md-12 text-center pt-2">
        <p>Copyright &#169; 2021</p>
      </div>
    </div>
  </div>
</footer>
