@import "../../../styles/styles.scss";

section {
  background-image: linear-gradient(to top left, $color-blue, $color-active);
}

.what-we-do {
  &_text {
    padding: 10rem 1rem;
  }

  h3,
  p {
    color: $color-white;
  }
}
