<section>
  <div class="container who-we-are">
    <div class="row">
      <div class="col-md-6">image here</div>
      <div class="col-md-6">
        <div class="who-we-are_text">
          <h3 class="pb-3">Who We Are</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nihil
            eligendi consequuntur sit ullam? Nemo maiores quia cupiditate!
            Magnam, harum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque,
            aliquam!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sit
            aperiam, ea expedita, voluptatum est necessitatibus temporibus optio
            placeat ducimus rerum voluptatem assumenda atque dolor.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
