<section>
  <div class="container faq-questions">
    <div class="row">
      <div class="col">
        <div class="advice_text">
          <h3 class="py-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae earum
            eius corporis praesentium repellat dolorem!
          </h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Accusantium quis doloribus sapiente?
          </p>
          <div class="question-image">
            <button class="btn mt-5" (click)="onToContact()">
              <img src="../../../assets/images/question-mark.png" alt="" />
              <p>Ask a question</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
