@import "../../../styles/helpers/variables";
.faq-questions {
  height: 35rem;
  text-align: center;
  color: $color-active;
  &_text {
    padding: 10rem 1rem;
  }
}

.question-image {
  height: 100px;

  p {
    font-weight: 600;
  }
}

img {
  width: 15rem;
}

@media only screen and (max-width: 768px) {
  .faq-questions {
    margin-bottom: 30px;
  }
}
