<section>
  <div class="container faq-questions">
    <div class="row">
      <div class="col">
        <div class="advice_text">
          <h3 class="pb-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae earum
            eius corporis praesentium repellat dolorem!
          </h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Accusantium quis doloribus sapiente?
          </p>
          <button class="btn btn-blue mt-5" (click)="onToContact()">
            Contact Us
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
