<section>
  <div class="container-fluid about">
    <div class="row">
      <div class="col-md-6 about_text">
        <h2>A Leader in First Aid Courses across Ireland</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus nam
          minima voluptatum enim vero veritatis quo debitis facilis. Culpa nobis
          cumque adipisci quod corrupti aperiam vitae, odit numquam commodi.
          Natus in, a perspiciatis quidem ut sequi recusandae culpa consequuntur
          numquam quae iusto aut ad at expedita, tempora est. Numquam, libero?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo dolorem
          sapiente eveniet temporibus veniam neque perspiciatis officiis. Esse
          ullam nostrum reiciendis, quasi omnis corporis nesciunt quisquam harum
          necessitatibus. Fugiat, quidem!
        </p>
      </div>
      <div class="col-md-6 about_image">Image this side</div>
    </div>
  </div>
</section>
