@import "../../../styles/helpers/variables";

.navbar {
  //background-color: $color-blue;
  background-image: linear-gradient(to bottom, $color-blue, $color-paleBlue);
  //padding-bottom: 100px;

  &-brand {
    padding-bottom: 0;
  }

  & .img-fluid {
    height: 6rem;
    margin-right: 3rem;
  }
}

.nav-item {
  margin: 0 1.5rem;
}

.nav-link {
  color: $color-white;
  font-size: 1.6rem;

  &:hover {
    text-decoration: underline;
  }

  &.active {
    color: $color-active;
    font-weight: 700;
    //text-decoration: underline;
  }
}

.fa {
  color: $color-white;
  font-size: 5rem;
}

@media only screen and (max-width: 990px) {
  .nav-link {
    color: $color-active;
  }
}
