@import "../../../styles/helpers/variables";

.navbar {
  background-color: $color-blue;

  &-brand {
    padding-bottom: 0;
  }

  & .img-fluid {
    height: 40px;
    margin-right: 30px;
  }
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  color: $color-white;

  &:hover {
    text-decoration: underline;
  }

  &.active {
    color: $color-active;
    font-weight: 700;
    //text-decoration: underline;
  }
}

.fa {
  color: $color-white;
}
