@import "../../../styles/helpers/variables";
@import "../../../styles/components/buttons";

section {
  background-color: $color-paleBlue;
}

h2,
p {
  color: $color-active;
}

@media only screen and (max-width: 600px) {
  .button-container {
    text-align: center;
  }
}

img {
  width: 100%;
}
