@import "../../../styles/styles.scss";

section {
  background-color: $color-paleBlue;
}

h2,
p {
  color: $color-blue;
}

@media only screen and (max-width: 600px) {
  .button-container {
    text-align: center;
  }
}
