<section>
  <div class="container contact py-5">
    <div class="row">
      <div class="col-md-6 my-auto">
        <div class="img-fluid">
          <img src="../../../assets/images/contact-us.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="contact-box">
          <h2 class="pb-4">Please Get In Touch</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
            asperiores esse nostrum pariatur labore iure voluptates aut corrupti
            magni rerum.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
            vitae officiis corporis eveniet ratione doloribus eum quae voluptas,
            hic odio veritatis ullam. Non, a dolor!
          </p>
          <div class="button-container">
            <button class="btn btn-blue my-3" (click)="onToContact()">
              Contact Us
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
